@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
  background: url(./img/bg.jpg);
  background-size: cover;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

body a {
  text-decoration: none;
}

.container {
  width: 1080px;
  height: 720px;
  margin-top: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#f3f1f1), color-stop(50%, #f3f1f1), color-stop(50%, #ffffff), to(#ffffff));
  background: linear-gradient(to right, #f3f1f1 0%, #f3f1f1 50%, #ffffff 50%, #ffffff 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 100px 1fr 350px 1fr;
      grid-template-rows: 100px 1fr 350px 1fr;
}

.container .tools {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.container .player1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.container .commands {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 120px;
}

.container .commands .imgContainer {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .commands .imgContainer img {
  max-width: 200px;
  max-height: 200px;
}

.container .commands .roll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  grid-row: 3;
  font-size: 1.2em;
}

.container .commands .hold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  grid-row: 4;
  font-size: 1.2em;
}

.container .player2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.container .player2 .player2Name {
  color: #c2bfbf;
}

.container .player {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container .player p {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.container .player .scoreGlobal {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4em;
  color: #D0021B;
}

.container .player .scoreCurrent {
  -ms-grid-row: 4;
  grid-row: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 100px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D0021B;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 1fr;
      grid-template-rows: 40px 1fr;
}

.container .player .scoreCurrent P {
  color: black;
  font-size: 1em;
}

.container .player .scoreCurrent span {
  color: white;
  font-size: 2.5em;
  margin: auto;
}

.active::after {
  content: '';
  display: block;
  height: .55em;
  width: .55em;
  background: #D0021B;
  border-radius: 50%;
  position: relative;
  left: 1em;
}

.player2 .active::after {
  left: -6em;
}
/*# sourceMappingURL=style.css.map */